/* Reset de estilos e estilos gerais */
body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Estilos do header */
.header {
    background-color: #84A98C;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header-title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #354F52;
}

.header-link {
    text-decoration: none;
    color: #2F3E46;
    transition: color 0.3s;
}

.header-link:hover {
    color: #52796F;
}

/* Estilos dos modelos de biquínis */
.bikini-container {
    max-height: calc(100vh - 120px); 
    overflow-y: auto; 
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #CAD2C5;
}

.bikini {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 280px;
}

.bikini-title {
    font-size: 1.5rem;
    margin: 0 0 5px;
    color: #354F52;
}

.bikini-images {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.bikini-images img { 
    max-width: 100%;
    height: auto;
    margin: 5px;

}

.bikini-price {
    font-size: 1.2rem;
    margin: 5px 0;
    color: #52796F;
}

.bikini-size {
    font-size: 1rem;
    color: #52796F;
}

/* Estilos da seção de contato */
.contact-section {
    background-color: #2F3E46;
    color: #CAD2C5;
    padding: 20px;
    text-align: center;
}

.contact-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact-info {
    font-size: 1.2rem;
    margin-top: 10px;
}

.contact-link {
    text-decoration: none;
    color: #84A98C;
    transition: color 0.3s;
}

.contact-link:hover {
    color: #52796F;
}